input[type="radio"]:before, .radio input[type="radio"]:before, .radio-inline input[type="radio"]:before
{
    background-color : #96c93d !important;

}
input[type="radio"]:checked:after, .radio input[type="radio"]:checked:after, .radio-inline input[type="radio"]:checked:after
{
    border-color : #96c93d !important;
}
.navbar-collapse
{

    padding-right : 0 !important;
    padding-left  : 0 !important;
}
.navbar
{
    -webkit-box-shadow : 0 0 0 !important;
    box-shadow         : 0 0 0 !important;
}
select:focus, select.form-control:focus
{
    -webkit-box-shadow : inset 0 -1px 0 #96c93d !important;
    box-shadow         : inset 0 -1px 0 #96c93d !important;
}
.flex-control-paging li a
{
    width                 : 11px;
    height                : 11px;
    display               : block;
    background            : #f00;
    background            : rgba(255, 0, 0, 0.5);
    cursor                : pointer;
    text-indent           : -9999px;
    -webkit-box-shadow    : inset 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow       : inset 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow         : inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow            : inset 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius : 20px;
    -moz-border-radius    : 20px;
    border-radius         : 20px;
}
.navbar-brand
{
    float   : left;
    padding : 5px 5px 0 0 !important;
    height  : 90px !important;
}
.navbar-brand > img
{
    display : block;
    height  : 100%;
    width   : auto;
}
a
{
    color           : #96c93d !important;
    text-decoration : none;
}
.dropdown-item.active, .dropdown-item:active
{
    color            : #fff;
    text-decoration  : none;
    background-color : #eee;
}
/* For Firefox */
input[type='number']
{
    -moz-appearance : textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance : none;
    margin             : 0;
}
input[type=date]::-webkit-inner-spin-button
{
    -webkit-appearance : none;
    display            : none;
}
.navbar-fixed-top, .navbar-fixed-bottom
{
    position : fixed;
    right    : 0;
    left     : 0;
    z-index  : 10000 !important;
}
p
{
    width : 100%;
}
h1, h2, h3
{
    width : 100%;
}
.row
{
    margin-left  : 0 !important;
    margin-right : 0 !important;
}
.nopadleft
{
    padding-left : 0 !important;
}
.nopadright
{
    padding-right : 0 !important;
}
.nopad
{
    padding : 0 !important;
}
a.btn-slider
{
    background    : #187529;
    color         : #fff !important;
    margin-top    : 15px;
    padding       : 8px !important;
    font-size     : 1rem !important;
    border        : 0;
    border-radius : 5px !important;

}
img
{
    width : 100%;
}
body
{
    font-size               : 1.3rem !important;
    margin                  : 0;
    font-family             : Hyundai Sans Regular, Helvetica, sans-serif !important;
    font-weight             : 200 !important;
    font-style              : normal;
    -moz-osx-font-smoothing : grayscale;
    -webkit-font-smoothing  : antialiased !important;
    -moz-font-smoothing     : antialiased !important;
    text-rendering          : optimizelegibility !important;
}
h1
{
    font-size : 2.2rem !important;
    color     : #96c93d !important;
}
img
{
    width : 100%;
}
.navbar
{
    margin-bottom : 0px !important;
    border-radius : 0px !important;

}
.center-block
{
    float : none !important;
}
.blok1 h2
{
    font-size   : 1.5rem;
    font-weight : 600;
    color       : #96c93d;
}
.blok1 p
{
    line-height : 1.8rem;
    font-size   : 1.4rem;
    height      : 65px;
    color       : #000;

}
.blok1 a
{
    background : #212529;
    padding    : 8px 15px;
    color      : #fff !important;
    font-size  : 1.3rem;

}
.blok1:last-child:after
{
    border-right : 0px dashed #000;

}
.blok1:last-child
{
    border-right : 0;
}
.blok1:after
{
    content      : "";
    position     : absolute;
    width        : 1px;
    border-right : 1px dashed #000;
    height       : 30%;
    top          : 45px;
    right        : -5px;
}
.blok1
{
    position   : relative;
    height     : 150px;
    text-align : center;
}
.pr1 h1
{
    font-size      : 3rem;
    text-align     : center;
    padding-bottom : 15px;
    font-weight    : 600;
    color          : #212529;
    margin         : 0;
}
.pr1, .pr2, .pr3
{
    height  : auto !important;
    padding : 100px 0;
}
.floatingblock
{
    position : relative;
    margin   : 0 0 60px;

}
.warranty
{
    background : url("../img/warrantybanner.png") no-repeat top right;
    width      : 100%;
    height     : 200px;

}
.warrantybox p
{
    font-style  : italic;
    font-size   : 1.4rem;
    margin      : 0;
    line-height : 1.5rem;
}
.warrantybox h3
{
    font-size   : 2.9rem;
    color       : #6c757d !important;
    margin      : 0;
    font-weight : 200;
}
.warrantybox
{
    background : #212529;
    color      : #fff !important;
    padding    : 20px;
    margin-top : 35px;
}
.about_preowned p.aboutback
{

    padding : 10px;
    margin  : 0;
}
.about_preowned p:first-child
{
    font-size   : 3rem;
    line-height : 3.2rem;
    color       : #000;
}
.aboutback
{
    color       : #000;
    padding     : 0 0 0 15px !important;
    line-height : 2rem;
    font-size   : 1.9rem;
}
.homeabout_blok1
{
    display : inline-block;
}
.homeaboutbox
{
    color        : #000;
    padding      : 20px;
    line-height  : 2rem;
    margin       : 10px 0px;
    column-count : 2;

}
.homeabout_img
{
    padding : 0 !important;
}
.homeabout_img img
{
    float : left;
    width : 33.3%;
}
.blok_icon img
{
    height : 100%;
}
.blok_icon
{
    height : 60px;
    width  : 60px;
    margin : auto;
}
.footer h3
{
    font-size : 1.8rem;
    color     : #96c93d;
    margin    : 0 0 8px;
}
.footer p
{
    line-height : 1.7rem;
    margin      : 10px 0 0;
}
.footer
{
    padding-top    : 20px;
    padding-bottom : 20px;
    font-size      : 1.2rem;
    background     : #232528;
    color          : #fff;
}
.footerlogo
{
    width : 45%;
}
ul
{
    margin      : 0;
    padding     : 0;
    list-style  : none;
    line-height : 2rem;
    width       : 100%;
}
.credit
{
    text-align : center;
    font-size  : 1.1rem;
}
.homecontact
{
    background : #fff;
    position   : relative;
    top        : -60px;
    padding    : 30px 30px 0;
}
textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control
{

    font-size : 1.4rem !important;
}
.required
{
    color       : red;
    font-size   : 2rem;
    font-weight : 600;
    position    : absolute;
    top         : 9px;
    left        : 2px;
}
.form-group
{
    margin-bottom : 10px !important;
    position      : relative;
}
#mailsent
{
    font-size   : 1.4rem;
    display     : none;
    color       : #000;
    text-align  : center;
    line-height : 1.8rem;
    padding     : 0;
}
#mailnotsent
{
    font-size  : 1.7rem;
    display    : none;
    color      : red;
    padding    : 20px 10px;
    text-align : center;
}
#spinner
{
    display               : none;
    position              : absolute;
    bottom                : 30%;
    left                  : 5%;
    width                 : 90%;
    background            : rgba(33, 150, 243, .28);
    padding               : 20px 0;
    font-size             : 2rem;
    color                 : #fff;
    border-radius         : 5px;
    -webkit-border-radius : 5px;
    text-align            : center;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active
{
    background-color : #96c93d !important;
}
.btn
{
    font-size : 1.1rem !important;
}
.btn-primary
{
    color            : #fff;
    background-color : #96c93d;
    border-color     : transparent;
}
.bg-light
{
    background-color : #fff !important;
}
.dropdown-toggle::after
{
    vertical-align : 0.155em;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link
{
    color : #fff !important;
}
.filters
{
    display       : inline-block;
    width         : 100%;
    background    : #f5f5f5;
    padding       : 10px;
    margin-bottom : 15px;
}
select.form-control:not([size]):not([multiple])
{
    height : calc(2.95rem + 7px);
}
select, select.form-control
{
    border                  : 0;
    border-radius           : 0;
    -webkit-appearance      : none;
    -moz-appearance         : none;
    appearance              : none;
    padding-left            : 0;
    padding-right           : 0 \9;
    background-image        : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMV…3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
    -webkit-background-size : 13px 13px;
    background-size         : 13px;
    background-repeat       : no-repeat;
    background-position     : right center;
    -webkit-box-shadow      : inset 0 -1px 0 #ddd;
    box-shadow              : inset 0 -1px 0 #ddd;
    font-size               : 1.3rem !important;
    line-height             : 1.5;
}
select, select.form-control option
{
    font-size : 1.2rem;
}
.callback_box input.form-control, .callback_box input[type=text]
{
    -webkit-box-shadow : inset 0 -1px 0 #55af66;
    box-shadow         : inset 0 -1px 0 #55af66;
}
.callback_box input.form-control:focus
{
    -webkit-box-shadow : inset 0 -2px 0 #fff !important;
    box-shadow         : inset 0 -2px 0 #fff !important;
}
.callback_box input
{
    color : #fff !important;
}
.callback_box input::placeholder
{
    color     : #fff;
    font-size : 1.2rem;
}
.callback_box .btn-primary:hover
{
    color            : #fff;
    background-color : #1c692a !important;
    border-color     : rgba(0, 0, 0, 0);
}
.callback_box .btn-primary
{
    color            : #333;
    background-color : #fff !important;
    border-color     : transparent;
    width            : 100%;
    padding          : 9px 5px !important;
    font-size        : 1.3rem !important;
}
.callback_box #mailsent
{
    font-size   : 1.4rem;
    display     : none;
    color       : #fff;
    text-align  : center;
    line-height : 1.8rem;
    padding     : 0;
}
.callback_box
{
    background : #96c93d;
    padding    : 15px !important;
}
.callback_box .required
{
    left : -12px;
}
h3.callback
{
    margin         : 0 0 15px;
    font-size      : 1.6rem;
    color          : #000;
    text-transform : uppercase;
}
.showroom_container h3
{
    font-size  : 2rem;
    margin     : -15px 0 15px;
    padding    : 10px 10px 10px;
    text-align : center;
    width      : 100%;
    background : #96c93d;
    color      : #fff;
}
.showroom_container
{
    margin-bottom : 50px;
    margin-left   : -15px !important;
    margin-right  : -15px !important;
}
h2.carmake span
{
    font-size   : 1.2rem;
    font-weight : 200;
}
h2.carmake
{
    font-size   : 1.5rem;
    margin      : 0;
    padding     : 10px 0;
    color       : #212529;
    font-weight : 600;
    position    : relative;
    overflow    : hidden;
    height      : 45px;
}
h2.home_carmake span
{
    font-size   : 1.2rem;
    font-weight : 200;
}
h2.home_carmake
{
    font-size   : 1.5rem;
    margin      : 0;
    padding     : 7px 0;
    color       : #212529;
    position    : relative;
    overflow    : hidden;
    height      : 40px;
    font-weight : 600;
}
h3.carvariant
{
    font-size  : 1.2rem;
    margin     : 0 0 8px;
    padding    : 8px;
    background : #b7b7b7;
    color      : #fff;
    text-align : right;

}
.showroom_box
{
    position      : relative;
    margin-bottom : 15px;
}
.showroom_img
{
    height   : 160px;
    overflow : hidden;
}
.showroom_box .showroom_price
{
    position    : absolute;
    z-index     : 1;
    background  : rgba(255, 255, 255, 0.8);
    padding     : 3px 8px;
    color       : #96c93d;
    top         : 123px;
    right       : 10px;
    font-size   : 1.7rem;
    font-weight : 600;
}
.showroom_box .home_price
{
    padding     : 3px 0;
    color       : #96c93d;
    font-size   : 2rem;
    font-weight : 600;
    line-height : 1rem;
}
.showroom_details
{

}
.showroom_details ul strong
{
    color       : #96c93d;
    display     : table;
    width       : 100%;
    clear       : both;
    font-weight : 400;
}
.showroom_details ul
{
    column-count : 2;
    margin       : 0;
    padding      : 0;
    line-height  : 1.7rem;
}
.cardetails_h1
{
    font-size : 2.5rem !important;
}
.similarheader
{
    font-size  : 2rem;
    text-align : center;
    width      : 100%;
}
.similarmake
{
    font-size   : 1.2rem;
    text-align  : center;
    margin      : 0;
    line-height : 1.2rem;
    color       : #fff;
    background  : #212529;
    padding     : 10px 5px;
    height      : 42px;
}
.similarprice h3
{
    text-align  : center;
    font-size   : 1.6rem;
    margin      : 7px 0 5px;
    font-weight : 600;
    color       : #96c93d;
}
.rightheader
{
    font-size : 1.7rem;
    margin    : 15px 0 0;
}
.backbutton
{
    text-align    : center;
    width         : 100%;
    display       : block;
    margin-bottom : 15px;
    position      : relative;
}
a.back_btn
{
    padding        : 8px 10px;
    background     : #96c93d;
    color          : #fff !important;
    text-transform : uppercase;
    font-size      : 1rem;
    position       : absolute;
    white-space    : nowrap;
    right          : -14px;
    top            : -36px;
}
.enquireBlock
{
    display  : table;
    width    : 100%;
    position : relative;
}
.rightheader_small
{
    font-weight : 600;
    color       : #96c93d;
}
.rightblock
{
    background : #f5f5f5;
}
.detailsbox h3
{
    font-size   : 1.5rem;
    color       : #96c93d;
    margin      : 0 0 5px;
    font-weight : 600;
}
.detailscontainer
{
    margin-bottom : 50px;
    display       : table;
    width         : 100%;
}
.btn
{
    text-transform     : uppercase;
    border-right       : none;
    border-bottom      : none;
    -webkit-box-shadow : 0 0 0 !important;
    box-shadow         : 0 0 0 !important;
    -webkit-transition : all 0.2s;
    -o-transition      : all 0.2s;
    transition         : all 0.2s;
    padding            : 4px 15px !important;
    font-size          : 1rem !important;
    border-radius      : 0 !important;
}
.btn-primary
{
    color            : #fff;
    background-color : #96c93d !important;
    border-color     : transparent;
}
.details strong
{
    color : #96c93d;
}
span.details_variant
{
    font-size : 1.5rem;
    color     : #212529;
}
.rightblock input.form-control, .rightblock input[type=text], .rightblock input[type=password], .rightblock input[type=email], .rightblock input[type=number], .rightblock [type=text].form-control, .rightblock [type=password].form-control, .rightblock [type=email].form-control, .rightblock [type=tel].form-control, .rightblock [contenteditable].form-control
{
    padding            : 0 0 0 15px;
    border             : none;
    border-radius      : 0;
    -webkit-appearance : none;
    -webkit-box-shadow : inset 0 -1px 0 #ddd;
    box-shadow         : inset 0 -1px 0 #ddd;
    font-size          : 16px;
}
.form-control:focus
{
    color            : #495057;
    background-color : transparent;
    border-color     : transparent;
    outline          : 0;
    box-shadow       : 0 0 0;
}
textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus
{
    -webkit-box-shadow : inset 0 -2px 0 #6c757d !important;
    box-shadow         : inset 0 -1px 0 #6c757d !important;
}
.showroom_header h1
{
    font-size      : 2.2rem !important;
    padding-bottom : 10px;
    width          : 100%;
}
.coming_soon
{
    text-align : center;
    font-size  : 2rem;
    width      : 100%;

}
.sliderone_text
{
    position  : absolute;
    z-index   : 2;
    left      : 10%;
    top       : 25%;
    padding   : 15px;
    max-width : 30%;
}
.slidetext_one
{
    color       : #fff;
    font-size   : 4rem;
    text-shadow : 1px 1px 0px #000;
    line-height : 3.5rem;
}
.slidetext_two
{
    color      : #fff;
    font-size  : 2.5rem;
    margin-top : 15px;

}
.slidetext_three
{
    color      : #fff;
    font-size  : 2rem;
    margin-top : 15px;

}
.slidetext_four
{
    color      : #fff;
    font-size  : 1.5rem;
    margin-top : 15px;
    background : rgba(0, 0, 0, 0.6);
    padding    : 10px;

}
.financeBlock, .enquireBlock
{
    position : relative;
}
input#depositprice
{
    clear      : both;
    display    : block;
    margin-top : 2px;
    padding    : 5px;
    width      : 100%;
}
textarea#tradeindetails
{
    clear      : both;
    display    : block;
    margin-top : 2px;
    padding    : 5px;
    width      : 100%;
}
input[type="checkbox"]:checked:after, .checkbox input[type="checkbox"]:checked:after, .checkbox-inline input[type="checkbox"]:checked:after
{
    background-color : #96c93d !important;
    border-color     : #96c93d !important;
}
@media (min-width : 768px)
{
    .navbar-right .dropdown-menu
    {
        left : 0 !important;
    }
    .navbar-nav > li > a
    {
        padding-top    : 10.5px !important;
        padding-bottom : 10.5px !important;
        line-height    : inherit !important;
    }
}
@media (max-width : 768px)
{
    .container
    {

    }
    .mobilehide
    {
        display : none;
    }
    .blok1:after
    {
        border-right : 0px dashed #000;
    }
    .homeaboutbox
    {
        column-count : 1;
    }
    .navbar-nav
    {
        margin : 10.25px 0 !important;
    }
    .dropdown-menu
    {
        margin-top         : 0;
        border             : none;
        -webkit-box-shadow : 0 0 0 rgba(0, 0, 0, 0.3) !important;
        box-shadow         : 0 0 0 rgba(0, 0, 0, 0.3) !important;
    }
}
@media (min-width : 992px)
{
    .navbar-expand-lg .navbar-nav .nav-link
    {
        padding-right  : 1rem;
        padding-left   : 1rem;
        font-size      : 1.2rem;
        color          : #212529;
        text-transform : uppercase;
    }
}