<section ng-controller = "showroom as vm"
         id = "hometop">
    <div class = "container">
        <div class = "detailscontainer ">
            <div>
                <div class = " headerdetails">
                    <h1 class = "cardetails_h1">
                        {{car.make}}
                        <span class = "details_variant">{{car.variant}}</span>
                        <span class = "details_price">{{car.selling_price | currency: "R" || 'Contact us for price' }}</span>
                    </h1>
                </div>
                <div class = "col-sm-9 contentback nopadleft">
                    <div class = "row">
                        <div class = "col-sm-6 nopad ">
                            <div class = "row">
                                <flex-slider slider-id = "slider"
                                             class = "carslider"
                                             flex-slide = "s in slider track by $index"
                                             animation = "fade"
                                             animation-loop = "true"
                                             slideshow = "false"
                                             prev-text = ""
                                             next-text = ""
                                             control-nav = "thumbnails"
                                             init-delay = "100">
                                    <li ng-if = "s"
                                        data-thumb = "{{s}}">
                                        <a href = "{{s}}"
                                           data-lightbox = "gallerybig"
                                           data-title = "{{car.make}}, {{car.variant}}">
                                            <img ng-src = "{{s}}"
                                                 src = "../../img/nopic.png"
                                                 onerror = "this.onerror=null;this.src='../../img/nopic.png';"
                                                 alt = "{{car.make}}">
                                        </a>
                                    </li>
                                </flex-slider>
                            </div>
                        </div>
                        <div class = "col-sm-6 detailsrow mobile-nopad">
                            <div>
                                <ul class = "details"
                                    style = "column-count: 2">
                                    <li>
                                        <strong>Year: </strong>{{car.year || 'Year not specified'}}
                                    </li>
                                    <li>
                                        <strong>Mileage: </strong>{{car.mileage || '0' | number }}Km
                                    </li>
                                    <li>
                                        <strong>Colour: </strong>{{car.colour || 'Colour not specified'}}
                                    </li>
                                    <li>
                                        <strong>Body type: </strong>{{car.body_type || 'Body type not specified'}}
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <div class = "detailsbox">
                                    <div>
                                        <h3> Description</h3>
                                        <p class = "break"> {{car.description || 'Contact us for more information'}}</p>
                                    </div>
                                    <div>
                                        <h3> Extras:</h3>
                                        <p class = "break"> {{car.extras_csv || 'Currently no extras listed.' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "col-sm-3 rightblock">
                    <div class = "row backbutton">
                        <a href = ""
                           class = "back_btn"
                           ng-click = "back()">
                            <i class = "fa fa-angle-double-left"
                               aria-hidden = "true"></i>
                            Previous Page
                        </a>
                    </div>
                    <!--<editor-fold desc="ENQUIRE APP">-->
                    <div class = "enquireBlock"
                         ng-controller = "carEnquire as vm">
                        <h2 class = "rightheader">Car Enquire /</h2>
                        <h3 class = "rightheader testdrive_header">Book a test drive</h3>
                        <form id = "carenquire"
                              name = "carenquire"
                              novalidate
                              angular-validator>
                            <div class = "fb-text form-group field-name">
                                <label for = "name"
                                       class = "fb-text-label">
                                    <span class = "required"
                                          ng-if = "carenquire.name.$error.required">*
                                    </span>
                                </label>
                                <input type = "text"
                                       focus-on = "focusMe"
                                       data-ng-model = "vm.drive.name"
                                       placeholder = "Your Full Name"
                                       class = "form-control"
                                       name = "name"
                                       id = "name"
                                       ng-minlength = "3"
                                       validate-on = "dirty"
                                       required-message = "'This field is required..'"
                                       required>
                            </div>
                            <div class = "fb-text form-group field-number">
                                <label for = "number"
                                       class = "fb-text-label">
                                    <span class = "required"
                                          ng-if = "carenquire.number.$error.required">*
                                    </span>
                                </label>
                                <input type = "text"
                                       data-ng-model = "vm.drive.number"
                                       placeholder = "Contact Number"
                                       class = "form-control"
                                       name = "number"
                                       id = "number"
                                       ng-minlength = "10"
                                       validate-on = "dirty"
                                       required-message = "'This field is required..'"
                                       invalid-message = "'Please enter at least 10 numbers..'"
                                       required>
                            </div>
                            <div class = "fb-email form-group field-email">
                                <label for = "email"
                                       class = "fb-email-label">
                                    <span class = "required"
                                          ng-if = "carenquire.email.$error.required">*
                                    </span>
                                </label>
                                <input type = "email"
                                       data-ng-model = "vm.drive.email"
                                       placeholder = "Email"
                                       class = "form-control"
                                       name = "email"
                                       id = "email"
                                       validate-on = "dirty"
                                       required-message = "'This field is required..'"
                                       required>
                            </div>
                            <div class = "fb-undefined form-group field-message">
                                <label for = "message"
                                       class = "fb-textarea-label"></label>
                                <textarea type = "textarea"
                                          data-ng-model = "vm.drive.message"
                                          placeholder = "Message"
                                          class = "form-control"
                                          name = "message"
                                          id = "message"></textarea>
                            </div>
                            <!--HIDDEN FIELDS-->
                            <div class = "hidden">
                                <div class = "fb-text form-group field-guid">
                                    <input type = "text"
                                           data-ng-model = "vm.drive.guid"
                                           class = "form-control"
                                           name = "guid"
                                           id = "guid"
                                           ng-bind = "vm.drive.guid=dealer.branch_guid"
                                           value = "{{dealer.branch_guid}}">
                                </div>
                                <div class = "fb-text form-group field-stock_id">
                                    <input type = "text"
                                           data-ng-model = "vm.drive.stock_id"
                                           class = "form-control"
                                           name = "stock_id"
                                           id = "stock_id"
                                           ng-bind = "vm.drive.stock_id=car.stock_id"
                                           value = "{{car.stock_id}}">
                                </div>
                                <div class = "fb-text form-group field-make">
                                    <input type = "text"
                                           data-ng-model = "vm.drive.make"
                                           class = "form-control"
                                           name = "make"
                                           id = "make"
                                           ng-bind = "vm.drive.make = car.make"
                                           value = "{{car.make}}">
                                </div>
                                <div class = "fb-text form-group field-variant">
                                    <input type = "text"
                                           data-ng-model = "vm.drive.variant"
                                           class = "form-control"
                                           name = "variant"
                                           id = "variant"
                                           ng-bind = "vm.drive.variant=car.variant"
                                           value = "{{car.variant}}">
                                </div>
                                <div class = "fb-text form-group field-series">
                                    <input type = "text"
                                           data-ng-model = "vm.drive.variant"
                                           class = "form-control"
                                           name = "series"
                                           id = "series"
                                           ng-bind = "vm.drive.series=car.series"
                                           value = "{{car.series}}">
                                </div>
                                <div class = "fb-text form-group field-year">
                                    <input type = "text"
                                           data-ng-model = "vm.drive.year"
                                           class = "form-control"
                                           name = "year"
                                           id = "year"
                                           ng-bind = "vm.drive.year=car.year"
                                           value = "{{car.year}}">
                                </div>
                                <div class = "fb-text form-group field-selling_price">
                                    <input type = "text"
                                           data-ng-model = "vm.drive.selling_price"
                                           class = "form-control"
                                           name = "selling_price"
                                           id = "selling_price"
                                           ng-bind = "vm.drive.selling_price=car.selling_price"
                                           value = "{{car.selling_price}}">
                                </div>
                                <div class = "fb-text form-group field-mileage">
                                    <input type = "text"
                                           data-ng-model = "vm.drive.mileage"
                                           class = "form-control"
                                           name = "mileage"
                                           id = "mileage"
                                           ng-bind = "vm.drive.mileage=car.mileage"
                                           value = "{{car.mileage}}">
                                </div>
                                <div class = "fb-text form-group field-colour">
                                    <input type = "text"
                                           data-ng-model = "vm.drive.colour"
                                           class = "form-control"
                                           name = "colour"
                                           id = "colour"
                                           ng-bind = "vm.drive.colour=car.colour"
                                           value = "{{car.colour}}">
                                </div>
                                <div class = "fb-text form-group field-dealer_name">
                                    <input type = "text"
                                           data-ng-model = "vm.drive.dealer_name"
                                           class = "form-control"
                                           name = "dealer_name"
                                           id = "dealer_name"
                                           ng-bind = "vm.drive.dealer_name = dealer.name"
                                           value = "{{dealer.name}}">
                                </div>
                                <div class = "fb-text form-group field-dealer_email">
                                    <input type = "text"
                                           data-ng-model = "vm.drive.dealer_email"
                                           class = "form-control"
                                           name = "dealer_email"
                                           id = "dealer_email"
                                           ng-bind = "vm.drive.dealer_email = dealer.contact_emails_csv"
                                           value = "{{dealer.contact_emails_csv}}">
                                </div>
                            </div>
                            <div class = "fb-button form-group field-submit">
                                <button type = "button"
                                        data-ng-click = "vm.sendMail()"
                                        data-ng-disabled = "carenquire.$invalid"
                                        class = "button-input btn btn-primary btn-enquire"
                                        name = "{{dealer.name}}"
                                        id = "submitbut2">
                                    Submit
                                </button>
                            </div>
                        </form>
                        <span id = "mailsent">Thank you for contacting us. We will get back to you as soon as possible!</span>
                        <span id = "mailnotsent">Your request has NOT been sent</span>
                        <span id = "spinner">
                            <i class = "fa fa-spinner fa-spin"
                               aria-hidden = "true"></i>
                            Your request is being processed
                        </span>
                    </div>
                    <!--</editor-fold>-->
                    <!--<editor-fold desc="FINANCE APP">-->
                    <div class = "financeBlock"
                         ng-controller = "carFinance as vm">
                        <h4 class = "rightheader">
                            Finance Application
                        </h4>
                        <form id = "finAppForm"
                              name = "finAppForm"
                              novalidate
                              angular-validator>
                            <div class = "fb-text form-group field-name">
                                <label for = "finname"
                                       class = "fb-text-label">
                                    <span class = "required"
                                          ng-if = "finAppForm.finname.$error.required">*
                                    </span>
                                </label>
                                <input type = "text"
                                       data-ng-model = "vm.modalFin.name"
                                       placeholder = "First Name"
                                       class = "form-control"
                                       name = "finname"
                                       id = "finname"
                                       validate-on = "dirty"
                                       required-message = "'This field is required..'"
                                       required>
                            </div>
                            <div class = "fb-text form-group field-lastname">
                                <label for = "lastname"
                                       class = "fb-text-label">
                                    <span class = "required"
                                          ng-if = "finAppForm.lastname.$error.required">*
                                    </span>
                                </label>
                                <input type = "text"
                                       data-ng-model = "vm.modalFin.lastname"
                                       placeholder = "Last Name"
                                       class = "form-control"
                                       name = "lastname"
                                       id = "lastname"
                                       validate-on = "dirty"
                                       required-message = "'This field is required..'"
                                       required>
                            </div>
                            <div class = "fb-text form-group field-idnumber">
                                <label for = "idnumber"
                                       class = "fb-text-label">
                                    <span class = "required"
                                          ng-if = "finAppForm.idnumber.$error.required">*
                                    </span>
                                </label>
                                <input type = "idnumber"
                                       data-ng-model = "vm.modalFin.idnumber"
                                       placeholder = "ID Number"
                                       class = "form-control"
                                       name = "idnumber"
                                       id = "idnumber"
                                       ng-minlength = "13"
                                       validate-on = "dirty"
                                       required-message = "'This field is required..'"
                                       invalid-message = "'Please enter 13 digits..'"
                                       required>
                            </div>
                            <div class = "fb-text form-group field-number">
                                <label for = "number"
                                       class = "fb-text-label">
                                    <span class = "required"
                                          ng-if = "finAppForm.number.$error.required">*
                                    </span>
                                </label>
                                <input type = "number"
                                       data-ng-model = "vm.modalFin.number"
                                       placeholder = "Contact Number"
                                       class = "form-control"
                                       name = "number"
                                       id = "number"
                                       ng-minlength = "10"
                                       validate-on = "dirty"
                                       required-message = "'This field is required..'"
                                       invalid-message = "'Please enter at least 10 numbers..'"
                                       required>
                            </div>
                            <div class = "fb-email form-group field-email">
                                <label for = "email"
                                       class = "fb-email-label">
                                    <span class = "required"
                                          ng-if = "finAppForm.email.$error.required">*
                                    </span>
                                </label>
                                <input type = "email"
                                       data-ng-model = "vm.modalFin.email"
                                       placeholder = "Email"
                                       class = "form-control"
                                       name = "email"
                                       id = "email"
                                       validate-on = "dirty"
                                       required-message = "'This field is required..'"
                                       required>
                            </div>
                            <div class = "fb-undefined form-group field-message">
                <textarea type = "textarea"
                          data-ng-model = "vm.modalFin.message"
                          placeholder = "Additional Information"
                          class = "form-control"
                          name = "message"
                          id = "message"></textarea>
                            </div>
                            <div class = "fb-checkbox form-group field-permission">
                                <label class = "fb-checkbox-label active">
                                    <input type = "checkbox"
                                           aria-valuetext = "Yes"
                                           id = "permission"
                                           ng-model = "vm.modalFin.permission"
                                           name = "permission"
                                           value = "Permission ganted for NCR credit check"
                                           checked = "checked">
                                    Permission for NCR credit check
                                </label>
                            </div>
                            <div class = "fb-checkbox form-group field-deposit">
                                <label class = "fb-checkbox-label">
                                    <input type = "checkbox"
                                           id = "deposit"
                                           ng-model = "vm.modalFin.deposit"
                                           name = "deposit"
                                           value = "Yes">
                                    Deposit?
                                </label>
                                <input type = "text"
                                       id = "depositprice"
                                       ng-show = "vm.modalFin.deposit"
                                       ng-model = "vm.modalFin.depositprice"
                                       name = "depositprice"
                                       placeholder = "Amount">
                            </div>
                            <div class = "fb-checkbox form-group field-tradein">
                                <label class = "fb-checkbox-label">
                                    <input type = "checkbox"
                                           id = "tradein"
                                           ng-model = "vm.modalFin.tradein"
                                           name = "tradein"
                                           value = "Yes">
                                    Trade In?
                                </label>
                                <textarea id = "tradeindetails"
                                          ng-show = "vm.modalFin.tradein"
                                          ng-model = "vm.modalFin.tradeindetails"
                                          name = "deposit"
                                          placeholder = "Trade In Vehicle Details"></textarea>
                            </div>
                            <!--HIDDEN FIELDS-->
                            <!-- -------------------------------------------------------------------------------- -->
                            <div class = "hidden">
                                <div class = "fb-text form-group field-companyid hidden">
                                    <label for = "companyid"
                                           class = "fb-text-label "></label>
                                    <input type = "text"
                                           data-ng-model = "vm.modalFin.companyid"
                                           class = "form-control"
                                           name = "companyid"
                                           id = "companyid"
                                           ng-bind = "vm.modalFin.companyid = car.company_id"
                                           value = "{{car.company_id}}">
                                </div>
                                <div class = "fb-text form-group field-carid hidden">
                                    <label for = "carid"
                                           class = "fb-text-label"></label>
                                    <input type = "text"
                                           data-ng-model = "vm.modalFin.stock_id"
                                           class = "form-control"
                                           name = "carid"
                                           id = "carid"
                                           ng-bind = "vm.modalFin.stock_id = car.stock_id"
                                           value = "{{car.stock_id}}">
                                </div>
                                <div class = "fb-text form-group field-carcode hidden">
                                    <label for = "carcode"
                                           class = "fb-text-label"></label>
                                    <input type = "text"
                                           data-ng-model = "vm.modalFin.stock_code"
                                           class = "form-control"
                                           name = "carcode"
                                           id = "carcode"
                                           ng-bind = "vm.modalFin.stock_code = car.stock_code"
                                           value = "{{car.stock_code}}">
                                </div>
                                <div class = "fb-text form-group field-make col-md-6">
                                    <label for = "finmake"
                                           class = "fb-text-label">Make
                                    </label>
                                    <input type = "text"
                                           data-ng-model = "vm.modalFin.make"
                                           class = "form-control"
                                           name = "finmake"
                                           id = "finmake"
                                           ng-bind = "vm.modalFin.make = car.make"
                                           value = "{{car.make}}">
                                </div>
                                <div class = "fb-text form-group field-variant col-md-6">
                                    <label for = "series"
                                           class = "fb-text-label">Model
                                    </label>
                                    <input type = "text"
                                           data-ng-model = "vm.modalFin.series"
                                           class = "form-control"
                                           name = "series"
                                           id = "series"
                                           readonly
                                           ng-bind = "vm.modalFin.series=car.series"
                                           value = "{{car.series}}">
                                </div>
                                <div class = "fb-text form-group field-year col-md-6">
                                    <label for = "finyear"
                                           class = "fb-text-label">Year
                                    </label>
                                    <input type = "text"
                                           data-ng-model = "vm.modalFin.year"
                                           class = "form-control"
                                           name = "finyear"
                                           id = "finyear"
                                           readonly
                                           ng-bind = "vm.modalFin.year = car.year"
                                           value = "{{car.year}}">
                                </div>
                                <div class = "fb-text form-group field-selling_price col-md-6">
                                    <label for = "finselling_price"
                                           class = "fb-text-label">Selling Price
                                    </label>
                                    <input type = "text"
                                           data-ng-model = "vm.modalFin.selling_price"
                                           class = "form-control"
                                           name = "finselling_price"
                                           id = "finselling_price"
                                           readonly
                                           ng-bind = "vm.modalFin.selling_price = car.selling_price"
                                           value = "{{car.selling_price}}">
                                </div>
                                <div class = "fb-text form-group field-dealer_name">
                                    <input type = "text"
                                           data-ng-model = "vm.modalFin.dealer_name"
                                           class = "form-control"
                                           name = "dealer_name"
                                           id = "dealer_name"
                                           ng-bind = "vm.modalFin.dealer_name = dealer.name"
                                           value = "{{dealer.name}}">
                                </div>
                                <div class = "fb-text form-group field-dealer_email">
                                    <input type = "text"
                                           data-ng-model = "vm.modalFin.dealer_email"
                                           class = "form-control"
                                           name = "dealer_email"
                                           id = "dealer_email"
                                           ng-bind = "vm.modalFin.dealer_email = dealer.contact_emails_csv"
                                           value = "{{dealer.contact_emails_csv}}">
                                </div>
                            </div>
                            <div class = "fb-button form-group field-submit">
                                <button type = "button"
                                        data-ng-click = "vm.sendMail()"
                                        data-ng-disabled = "finAppForm.$invalid"
                                        class = "button-input btn btn-primary btngreen dealer_fin_btn"
                                        name = "{{dealer.name}}"
                                        id = "submitbut"> Submit
                                </button>
                            </div>
                        </form>
                        <span id = "mailsent">Thank you for contacting us. We will get back to you as soon as possible!</span>
                        <span id = "mailnotsent">Your request has NOT been sent</span>
                        <span id = "spinner">
                            <i class = "fa fa-spinner fa-spin"
                               aria-hidden = "true"></i>
                            Your request is being processed
                        </span>
                    </div>
                    <!--</editor-fold>-->
                    <!--<div class = "detailsocial">
                        <h4 class = "rightheader">Share this vehicle on:</h4>
                        <a socialshare
                           socialshare-provider = "facebook"
                           socialshare-popup-height = "350"
                           socialshare-popup-width = "400"
                           socialshare-via = "136004630389688"
                           socialshare-type = "share"
                           socialshare-quote = "{{car.make}}, {{car.variant}}, {{car.description || 'Bluechip Dealers offer the best deals on used cars for sale in South Africa. Buy or sell cars online today. Browse through over 3000 used cars in our online car showroom.' | truncate:170:' ... read more.'}}"
                           socialshare-media = "{{car.url1}}"
                           socialshare-title = "{{car.make}}, {{car.variant}}"
                           socialshare-url = "{{servedUrl}}"
                           socialshare-redirect-uri = "{{servedUrl}}">
                            <i class = "fa fa-facebook fb"
                               aria-hidden = "true"></i>
                        </a>
                        <a socialshare
                           socialshare-provider = "twitter"
                           socialshare-text = "{{car.make}}, {{car.variant}}, {{car.description || 'Bluechip Dealers offer the best deals on used cars for sale in South Africa. Buy or sell cars online today. Browse through over 3000 used cars in our online car showroom.' | truncate:170:'... and more.'}}"
                           socialshare-url = "{{servedUrl}}">
                            <i class = "fa fa-twitter"
                               aria-hidden = "true"></i>
                        </a>
                        <a socialshare
                           socialshare-provider = "google"
                           socialshare-url = "{{servedUrl}}">
                            <i class = "fa fa-google-plus"
                               aria-hidden = "true"></i>
                        </a>
                    </div>-->
                </div>
            </div>
        </div>
        <update-title title = "We Buy Bakkies, {{ car.make }} {{ car.series }}, {{dealer.name}}"></update-title>
        <update-meta property = "og:title"
                     content = "We Buy Bakkies | {{ car.make }} {{ car.series }} | {{ car.selling_price | currency:'R':0 }} | {{dealer.name}}"></update-meta>
        <update-meta property = "og:description"
                     content = "{{car.description || 'We Buy Bakkies offer the best deals on used cars for sale in South Africa. Buy or sell cars online today.' | truncate:170:'... and more.'}}"></update-meta>
        <update-meta name = "description"
                     content = "{{car.description || 'We Buy Bakkies offer the best deals on used cars for sale in South Africa. Buy or sell cars online today.' | truncate:170:'... and more.'}}"></update-meta>
        <update-meta property = "og:url"
                     content = "{{servedUrl}}"></update-meta>
        <update-meta property = "og:image"
                     content = "{{car.url1}}"></update-meta>
        <update-meta property = "og:image:url"
                     content = "{{car.url1}}"></update-meta>
        <update-meta property = "og:image:secure_url"
                     content = "{{car.url1}}"></update-meta>
        <update-link rel = "prerender prefetch"
                     href = "{{servedUrl}}"></update-link>
    </div>
</section>
<script>
    lightbox.option({
        'wrapAround': true,
        'showImageNumberLabel': false
    })
</script>