.paging
{
    width      : 100%;
    text-align : center;:;
}
.pagination
{
    display       : inline-block;
    padding-left  : 0;
    margin        : 10px 0;
    border-radius : 3px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus
{
    z-index          : 2;
    color            : #fff !important;
    background-color : #96c93d;
    border-color     : #96c93d;
    cursor           : default;
}
.pm
{
    font-size : 1.1rem;
    color     : #000;
}
.notice
{
    cursor        : pointer;
    padding       : 2px 6px;
    background    : #ff9800;
    border-radius : 100%;
    font-size     : 1rem;
    color         : #fff;
    margin-left   : 5px;
}
.priceinput
{
    margin-bottom : 5px;
}
div#noticetext
{
    background  : #212529;
    padding     : 11px;
    font-size   : 1.1rem;
    color       : #fff;
    line-height : 1.4rem;
    position    : absolute;
    z-index     : 2;
    top         : 10%;
    width       : 80%;
}
.box
{
    position   : absolute;
    width      : 10px;
    height     : 10px;
    transform  : rotate(45deg);
    background : #212121;
    top        : 51%;
    right      : -5px;
}
.testdrive_header
{
    margin         : 4px 0 0;
    font-size      : 1.3rem;
    text-transform : uppercase;
    color: #96c93d;
}