.trade h3
{
    font-size : 1.5rem !important;
}
.trade .label-info {
    background-color: #ee6b70;
    padding: 2px;
}
.trade  .thumbnail {
    display: block;
    padding: 4px;
     margin-bottom: 0px;
    line-height: 1.846;
    background-color: #ffffff;
     border: 0px solid #dddddd;
    border-radius: 3px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}