<section ng-controller = "bookService as vm"
         class = "service">
    <div class = "container">
        <div class = "row showroom_header">
            <h1>We Buy Bakkies Book a Service</h1>
        </div>
        <div class = "row">
            <form id = "serviceForm"
                  name = "serviceForm"
                  style = "width: 100%"
                  novalidate
                  angular-validator>
                <h3>Date</h3>
                <div class = "row">
                    <div class = "fb-text form-group field-name col-sm-2">
                        <label for = "earlydate"
                               class = "fb-text-label">
                            Earliest Date
                            <span class = "required"
                                  ng-if = "serviceForm.earlydate.$error.required">*
                            </span>
                        </label>
                        <input type = "date"
                               data-ng-model = "vm.service.early_date"
                               required
                               placeholder = ""
                               class = "form-control"
                               name = "earlydate"
                               id = "earlydate"
                               validate-on = "blur"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-name col-sm-2">
                        <label for = "latestdate"
                               class = "fb-text-label">
                            Latest Date
                            <span class = "required"
                                  ng-if = "serviceForm.latestdate.$error.required">*
                            </span>
                        </label>
                        <input type = "date"
                               data-ng-model = "vm.service.late_date"
                               required
                               placeholder = ""
                               class = "form-control"
                               name = "latestdate"
                               id = "latestdate"
                               validate-on = "blur"
                               required-message = "'This field is required..'">
                    </div>
                </div>
                <div class = "row">
                    <h3>Vehicle Details</h3>
                    <div class = "fb-text form-group field-name col-sm-4">
                        <label for = "regNo"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "serviceForm.regNo.$error.required">*
                            </span>
                        </label>
                        <input type = "text"
                               data-ng-model = "vm.service.regNo"
                               placeholder = "Registration #"
                               class = "form-control"
                               name = "regNo"
                               id = "regNo"
                               validate-on = "blur"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-name col-sm-4">
                        <label for = "make"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "serviceForm.make.$error.required">*
                            </span>
                        </label>
                        <input type = "text"
                               data-ng-model = "vm.service.make"
                               required
                               placeholder = "Make"
                               class = "form-control"
                               name = "make"
                               id = "make"
                               validate-on = "blur"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-name col-sm-4">
                        <label for = "model"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "serviceForm.model.$error.required">*
                            </span>
                        </label>
                        <input type = "text"
                               data-ng-model = "vm.service.model"
                               required
                               placeholder = "Model"
                               class = "form-control"
                               name = "model"
                               id = "model"
                               validate-on = "blur"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-name col-sm-4">
                        <label for = "vin"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "serviceForm.vin.$error.required">*
                            </span>
                        </label>
                        <input type = "text"
                               data-ng-model = "vm.service.vin"
                               required
                               placeholder = "Vin Number (Placed in Windscreen Corner)"
                               class = "form-control"
                               name = "vin"
                               id = "vin"
                               validate-on = "blur"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-name col-sm-4">
                        <label for = "firstReg"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "serviceForm.firstReg.$error.required">*
                            </span>
                        </label>
                        <input type = "text"
                               data-ng-model = "vm.service.firstReg"
                               placeholder = "Year of 1st registration"
                               class = "form-control"
                               name = "firstReg"
                               id = "firstReg"
                               validate-on = "blur"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-name col-sm-4">
                        <label for = "km"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "serviceForm.km.$error.required">*
                            </span>
                        </label>
                        <input type = "text"
                               data-ng-model = "vm.service.km"
                               placeholder = "Kilometres"
                               class = "form-control"
                               name = "km"
                               id = "km"
                               validate-on = "blur"
                               required-message = "'This field is required..'">
                    </div>
                </div>
                <div class = "row">
                    <h3>Peronal Details</h3>
                    <div class = "fb-text form-group field-name col-sm-4">
                        <label for = "company"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "serviceForm.company.$error.required">*
                            </span>
                        </label>
                        <input type = "text"
                               data-ng-model = "vm.service.company"
                               placeholder = "Company"
                               class = "form-control"
                               name = "company"
                               id = "company"
                               validate-on = "blur"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-name col-sm-4">
                        <label for = "title"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "serviceForm.title.$error.required">*
                            </span>
                        </label>
                        <input type = "text"
                               data-ng-model = "vm.service.title"
                               placeholder = "Title"
                               class = "form-control"
                               name = "title"
                               id = "title"
                               validate-on = "blur"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-name col-sm-4">
                        <label for = "fName"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "serviceForm.fName.$error.required">*
                            </span>
                        </label>
                        <input type = "text"
                               data-ng-model = "vm.service.fName"
                               required
                               placeholder = "First Name"
                               class = "form-control"
                               name = "fName"
                               id = "fName"
                               validate-on = "blur"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-name col-sm-4">
                        <label for = "lName"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "serviceForm.lName.$error.required">*
                            </span>
                        </label>
                        <input type = "text"
                               data-ng-model = "vm.service.lName"
                               required
                               placeholder = "Surname"
                               class = "form-control"
                               name = "lName"
                               id = "lName"
                               validate-on = "blur"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-name col-sm-4">
                        <label for = "mobile"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "serviceForm.mobile.$error.required">*
                            </span>
                        </label>
                        <input type = "tel"
                               data-ng-model = "vm.service.mobile"
                               required
                               placeholder = "Cellphone"
                               class = "form-control"
                               name = "mobile"
                               id = "mobile"
                               validate-on = "blur"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-name col-sm-4">
                        <label for = "landline"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "serviceForm.landline.$error.required">*
                            </span>
                        </label>
                        <input type = "tel"
                               data-ng-model = "vm.service.landline"
                               placeholder = "Phone"
                               class = "form-control"
                               name = "landline"
                               id = "landline"
                               validate-on = "blur"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-name col-sm-4">
                        <label for = "email"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "serviceForm.email.$error.required">*
                            </span>
                        </label>
                        <input type = "email"
                               data-ng-model = "vm.service.email"
                               required
                               placeholder = "Email"
                               class = "form-control"
                               name = "email"
                               id = "email"
                               validate-on = "blur"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-name col-sm-4">
                        <label for = "isCustomer"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "serviceForm.isCustomer.$error.required">*
                            </span>
                        </label>
                        <select ng-model = "vm.service.isCustomer"
                                class = "form-control"
                                name = "isCustomer"
                                id = "isCustomer"
                                required
                                validate-on = "blur"
                                required-message = "'This field is required..'">
                            <option value = "">I am an existing customer</option>
                            <option value = "Yes">Yes</option>
                            <option value = "No">No</option>
                        </select>
                    </div>
                    <div class = "fb-text form-group field-name col-sm-4">
                        <label for = "serviceType"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "serviceForm.serviceType.$error.required">*
                            </span>
                        </label>
                        <select ng-model = "vm.service.serviceType"
                                class = "form-control"
                                name = "serviceType"
                                id = "serviceType"
                                required
                                validate-on = "blur"
                                required-message = "'This field is required..'">
                            <option value = "">Service Type</option>
                            <option value = "Needs to be serviced">Needs to be serviced</option>
                            <option value = "Needs to be repaired">Needs to be repaired</option>
                            <option value = "Vehicle accessory fitment">Vehicle accessory fitment</option>
                        </select>
                    </div>
                    <div class = "fb-text form-group field-name col-sm-4">
                        <label for = "payMethod"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "serviceForm.payMethod.$error.required">*
                            </span>
                        </label>
                        <select ng-model = "vm.service.payMethod"
                                class = "form-control"
                                name = "payMethod"
                                id = "payMethod"
                                required
                                validate-on = "blur"
                                required-message = "'This field is required..'">
                            <option value = "">Payment Method</option>
                            <option value = "My vehicle still has a Service or Maintenance Plan.">My vehicle still has a Service or Maintenance Plan.</option>
                            <option value = "Card">Card</option>
                            <option value = "Cash">Cash</option>
                        </select>
                    </div>
                </div>
                <div class = "fb-button form-group field-submit col-xs-12"
                     style = "text-align: center">
                    <button type = "button"
                            data-ng-click = "vm.sendMail()"
                            data-ng-disabled = "serviceForm.$invalid"
                            class = "button-input btn btn-primary"
                            name = "submit"
                            style = "margin-top: 30px"
                            id = "submit">Submit
                    </button>
                </div>
            </form>
            <span id = "mailsent">Your service request has been submitted.</span>
            <span id = "mailnotsent">Your request has NOT been sent</span>
            <span id = "spinner">
                <i class = "fa fa-circle-o-notch fa-spin"
                   aria-hidden = "true"></i>
                Your request is being processed
            </span>
        </div>
    </div>
</section>
<update-title title = "We Buy Bakkies | Service"></update-title>
<update-meta property = "og:title"
             content = "We Buy Bakkies | Service"></update-meta>
<update-meta property = "og:description"
             content = "We Buy Bakkies offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>
<update-meta itemprop = "description"
             content = "We Buy Bakkies offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>