<section ng-controller = "ownerService as vm"
         class = "service">
    <div class = "container">
        <div class = "row showroom_header">
            <h1>We Buy Bakkies Owner Service</h1>
        </div>
        <div class = "row">
            <h2>Hyundai Assist</h2>
            <ul>
                <li>Hyundai Road Side Assistance: 086 111 1256</li>
                <li>We Buy Bakkies After Hours Assistance: 086 111 1256</li>
                <li>We Buy Bakkies After Hours Assistance: 063 151 8031</li>
                <li>We Buy Bakkies Email: info@hyundaiworcester.co.za</li>
            </ul>
            <h3>Industry Leading Warranty</h3>
            <p>Indicative of the confidence Hyundai Motor Company Korea has in it's products, the standard 3 year/100 000km warranty has been increased to a staggering 5 year/150 000km manufacturers warranty.
                This means absolute confidence when purchasing a Hyundai product from our range and ensure cost efficiency during vehicle maintenance and services.
            </p>
            <p><strong>What does our warranty cover?</strong></p>
            <ul>
                <li> Engine</li>
                <li>Transmission & Gearbox</li>
                <li>Drive lines and Final Drives</li>
                <li>Drive Couplings</li>
                <li>Clutch and Pressure Plates (1 Year/20 000km)</li>
                <li>Torque Converters</li>
                <li>Steering</li>
                <li>Front and Rear Suspension</li>
                <li>Brakes</li>
                <li>Exhaust</li>
                <li>Electrical</li>
                <li>Airconditioning Systems (1 Year/20 000km)</li>
                <li>Radio & Antenna (Factory Fitted - 3 Year/60 000km)</li>
                <li>Batteries (2 Year/40 000km)</li>
            </ul>
            <p>Roadside Assist - Keeps your business on the road</p>
            <p><strong>The following is offered for the term of your roadside assist:</strong></p>
            <ul>
                <li>Out of fuel assistance</li>
                <li>Jump-start service</li>
                <li>Home-start service</li>
                <li>Change of flat Tyre</li>
                <li>Key lockout service</li>
                <li>Locksmith service (replacement of key for customers account)</li>
                <li>Breakdown towing</li>
                <li>24 hours car hire (Limited to 24H/R500)</li>
                <li>Overnight accommodation (Limited to 24H/R500)</li>
                <li>Vehicle repatriation (Limited to 24H/R500)</li>
                <li>Message relay service</li>
            </ul>
        </div>
    </div>
</section>
<update-title title = "We Buy Bakkies | Service"></update-title>
<update-meta property = "og:title"
             content = "We Buy Bakkies | Service"></update-meta>
<update-meta property = "og:description"
             content = "We Buy Bakkies offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>
<update-meta itemprop = "description"
             content = "We Buy Bakkies offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>