<section class = "about_container">
    <div class = "container">
        <h1>The Stuff We Do...</h1>
        <p>It's just the way that "WeBuyBakkies"takes the hassle out of selling your vehicle.</p>
        <h3>mobile buying
        </h3>
        <p>"We buy Bakkies" takes the hassle out of selling your bakkie/vehicle by bringing the transaction to a location of your choice. Our local purchase agents are in your area and have the flexibility to
            meet you wherever, whenever. Choose a convenient location,be it your home, place of work or other meeting spot,and a we buy bakkie consultant will meet you there.
        </p>
        <h3>vehicle paperwork (change of ownership documentation)
        </h3>
        <p>We'll handle any paperwork involved with transfering your title (natis registration certificate). This is a very important part of selling your vehicle as you do not want to end up paying someone
            else's traffic fines or e-toll fees. Your vehicle will be transferred into our company name within 24 hours after the transaction has been concluded.
        </p>
        <h3>administration</h3>
        <p>WeBuyBakkies will take care of all administration related to your vehicle and includes the following:</p>
        <ul>
            <li>Assist you with obtaining your settlement balance from the bank.</li>
            <li>Preparing all relevant documentation to the transaction, including the purchase order.</li>
            <li>Authorization letter to collect vehicle's title document (natis document) from the finance intitution on your behalf.</li>
            <li>Complete change of ownership documentation for transferring ownership of the vehicle.</li>
            <li>Cancel any insurance and satelite tracking on your vehicle.</li>
        </ul>
        <h3>pay off your loan or lease</h3>
        <p>Whether you own your vehicle outright or you're still making payments to the Bank - WeBuyBakkies will buy your vehicle. If we buy your vehicle for more than you owe, we'll pay you the difference at
            the time of purchase. If you owe more than your vehicle is worth, you pay the difference between the selling price and what you owe.
        </p>
        <h3>fleet purchases</h3>
        <p>Need to sell more than just one vehicle ? No problem. WeBuyBakkies can meet your volume needs. We'll buy fleets of vehicles or company cars in any condition and any price range or year model. You
            don't need multiple sales and multiple buyers. We streamline the process and provide you with a one stop solution for all your needs. If you are interested in selling multiple vehicles, call
            Francois Retief on 082 65 77777 for personal assistance.
        </p>
        <h3>options & solutions</h3>
        <p>When your vehicle does'nt meet our quality standards, we can sell it for you on one of our weekly vehicle auctions without any cost to you.For more information on our auctions contact us on 012 657
            0234
        </p>
        <h3>payments</h3>
        <p>If you sell us your vehicle, you'll receive an electronic funds transfer on the spot.
        </p>
        <h2>DID YOU KNOW?</h2>
        <p>The actual sale of your vehicle can take as little as 20 minutes - just sign the paperwork and walk away with payment in the bank.
        </p>
        <h3>selling to webuybakkies saves time and money:</h3>
        <ul>
            <li>no more monthly instalnments</li>
            <li> no advertising fee</li>
            <li>no more depreciation</li>
            <li> no time wasters and tyre kickers.</li>
        </ul>
        <h3>selling to webuybakkies is safe:
        </h3>
        <ul>
            <li>no meetings with strangers at your home.</li>
            <li> no more risky payments.</li>
            <li> no more stress about possible hi-jackings</li>
            <li> no more worries about ligitimate buyers.</li>
        </ul>
        <h3>selling to webuybakkies is quick, easy and hassle free:
        </h3>
        <ul>
            <li> no ttle issues</li>
            <li> no problems with buyer funding and finance</li>
            <li> no more delay's in receiving full payment on your vehicle.</li>
        </ul>
        <h3>decide to sell your vehicle? - what you will need:
        </h3>
        <ul>
            <li> Copy of your ID.</li>
            <li> Original Natis document - vehicle registration certificate (applicable if the vehicle is owned outright and you do not owe any money on it).</li>
            <li> If the vehicle is still under finance, we will need a settlement letter from the bank, stating the amount outstanding.</li>
        </ul>
    </div>
</section>
<update-title title = "We Buy Bakkies | Contact"></update-title>
<update-meta property = "og:title"
             content = "We Buy Bakkies | Contact"></update-meta>
<update-meta property = "og:description"
             content = "We Buy Bakkies offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>
<update-meta itemprop = "description"
             content = "We Buy Bakkies offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>