<div class = "row"
     ng-controller = "Footer">
    <div class = "container"
         style = "margin-bottom: 15px">
        <div class = "col-sm-4">
            <img src = "../img/logo.png"
                 class = "footerlogo">
            <p>The perfect place to sell your bakkie
                <br>
                SIMPLE • FAST • RISK FREE
            </p>
        </div>
        <div class = "col-sm-4">
            <h3>Contact Us</h3>
            <ul>
                <li><strong>{{store.name}}</strong></li>
                <li>{{store.address1}}</li>
                <li>
                    Tel:
                    <a href = "tel:{{store.tel2}}">{{store.tel2}}</a>
                </li>
                <li>
                    Mobile:
                    <a href = "tel:{{store.tel3}}">{{store.tel3}}</a>
                </li>
                <li>
                    Fax: {{store.fax1}}
                </li>
                <li>
                    <a href = "mailto:{{store.eMail.contactEmail}}">{{store.eMail.contactEmail}}</a>
                </li>
            </ul>
        </div>
        <div class = "col-sm-4">
            We Buy Bakkies is a division of AutoBuddy
            <a href = "http://www.autobuddy.co.za" target="_blank">www.autobuddy.co.za</a>
            . Registration Number: 2002/026558/07, VAT Number: 4860191271, Directors: F.P Retief
        </div>
    </div>
</div>
<div class = "row ">
    <div class = "container ">
        <div class = "credit">&copy; 2018 All rights reserved | Powered by
            <a href = "http://www.vmgsoftware.co.za/"
               target = "_blank">VMG Webmaster
            </a>
            | 087 702 6300
        </div>
    </div>
</div>