<div class = "top_colour">
    <div class = "container">
        <div class = "col-sm-3">
            <a class = "navbar-brand"
               ui-sref = "home">
                <img src = "../img/logo.png">
            </a>
        </div>
        <div class = "col-sm-9 nopadright">
            <div class = "text-right">
                <div class = "topsocial">
                    <a href = "https://www.facebook.com/AutoBuddy1"
                       target = "_blank">
                        <i class = "fa fa-facebook"
                           aria-hidden = "true"></i>
                    </a>
                </div>
                <div class = "topaddress"
                     ng-controller = "topAddress">
                    <ul>
                        <li>{{store.address1}}</li>
                        <li>
                            <a href = "tel:{{store.tel1}}">{{store.tel1}}</a>
                        </li>
                        <li>
                            <a href = "mailto:{{store.email1}}">{{store.email1}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class = "navbar navbar-expand-lg navbar-light bg-dark">
    <div class = "container">
        <button class = "navbar-toggler"
                type = "button"
                data-toggle = "collapse"
                data-target = "#navbarSupportedContent"
                aria-controls = "navbarSupportedContent"
                aria-expanded = "false"
                aria-label = "Toggle navigation">
            <span class = "navbar-toggler-icon"></span>
        </button>
        <div class = "collapse navbar-collapse"
             id = "navbarSupportedContent">
            <ul class = "navbar-nav">
                <li class = "nav-item">
                    <a class = "nav-link"
                       ui-sref-active = "active"
                       ui-sref = "home">Home
                        <span class = "sr-only">(current)</span>
                    </a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link"
                       target = "_blank"
                       href = "http://autobuddy.vmgtest.co.za/showroom_search">Showroom
                    </a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link"
                       ui-sref-active = "active"
                       ui-sref = "about">About
                    </a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link"
                       ui-sref-active = "active"
                       ui-sref = "contact">Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>