<section ng-controller = "slider">
    <div class = "row">
        <flex-slider flex-slide = "s in slides track by $index"
                     animation-loop = "true"
                     direction-nav = "true"
                     randomize = "true"
                     prev-text = ""
                     next-text = ""
                     control-nav = "false">
            <li>
                <div class = "sliderone_text">
                    <div class = "slidetext_one ">{{s.text1}}
                    </div>
                    <div class = "slidetext_two">{{s.text2}}
                    </div>
                    <div class = "slidetext_three">{{s.text3}}
                    </div>
                    <div class = "slidetext_four">{{s.text4}}
                    </div>
                    <a type = "button"
                       href = "http://autobuddy.vmgtest.co.za/showroom_search"
                       class = "btn btn-slider">SHOWROOM
                    </a>
                </div>
                <img ng-src = "{{s.url}}">
            </li>
        </flex-slider>
    </div>
</section>