.finaincebloks h3
 {
     font-size : 1.7rem;
     margin: 0 0 15px;
 }
.fBlock {
    position: relative;
    padding: 15px;
    text-align: center;
    background: #e5e5e5;
    margin-bottom: 15px;
}