.homewhitebox
{
    background : #fff;
    padding    : 10px;
}
.btn-carhome:hover
{
    background : #a09e9e;
    transition : 0.7s all;
    color      : #fff !important;
}
.btn-carhome
{
    width      : 100%;
    background : #dadada;
    font-size  : 1.2rem !important;
    color      : #a09b9b !important;
}
.instructions h2
{
    font-size : 2rem;
    color     : #96c93d;
    margin    : 10px 0 0;
}
.instructions h3
{
    font-size : 1.5rem;
    margin    : 10px 0 0;
    font-weight: 600;
}
.instructions ol
{
    margin  : 0 0 0 12px;
    padding : 0;
}