<div ui-view = "homeslider"
     class = "mobilehide"></div>
<div class = "row"
     ng-controller = "showroom as vm">
    <div class = "container">
        <div class = "row showroom_header">
            <h1>SELL YOUR CAR OR BAKKIE NOW</h1>
            <div ui-view = "sell"></div>
            <div class = "row instructions">
                <h2>How it Works...</h2>
                <h3>STEP 1</h3>
                <p>Get in touch with us via telephone, online email form or an sms and we'll call you!</p>
                <h3>STEP 2</h3>
                <ol>
                    <li>Take your bakkie or vehicle to the 'WE BUY BAKKIES' outlet for inspection or alternatively we will send one of our appraisers to you.</li>
                    <li>Your Bakkie / Vehicle will be appraised in 5 minutes</li>
                    <li>While we do the evaluation, you are welcome to ask questions,have a cup of coffee or browse through our bakkies and cars that is on sale.</li>
                    <li>Our appraisers are trained professionals with more than 10 years experience in their field.</li>
                    <li> When your vehicle doesn’t meet our quality standards, we can sell it for you on one of our weekly vehicle auctions without any cost to you. For more information on our auctions contact
                        us on 0609 112233
                    </li>
                </ol>
                <h3>STEP 3</h3>
                <ol>
                    <li>Fast electronic bank transfer on the spot.</li>
                    <li>From ease and convenience to safety and finances, it just make sense selling your bakkie / car through the 'WE BUY BAKKIES' concept.</li>
                    <li>It's easy - The actual sale of your vehicle can take as little as 20 minutes.</li>
                    <li>We will assist you through the whole process and will handle all administration and paperwork for you.</li>
                    <li>You will walk away with secure payment into your Bank.</li>
                    <li> We will settle your car loan and even pay the deposit on your next vehicle.</li>
                </ol>
            </div>
        </div>
        <!--<div class = "row showroom_container"
             style = "background: #e5e5e5; padding:15px 0 0; margin: 20px 0 0;">
            <div class = "row"
                 style = "width: 100%">
                <h3>This week’s specials</h3>
            </div>
            <div class = "row">
                <div class = "col-sm-3 showroom_box"
                     dir-paginate = "car in vm.data
                 | searchField: 'make': 'variant'
                 | filter: selectText
                 | itemsPerPage: 4">
                    <div class = "homewhitebox">
                        <div class = "showroom_img">
                            <a href = ""
                               ng-click = "focus(car); focusInput=true">
                                <img ng-src = "{{car.url1}}"
                                     src = "../../img/nopic.png"
                                     onerror = "this.onerror=null;this.src='../../img/nopic_view.png';">
                            </a>
                        </div>
                        <div>
                            <h2 class = "home_carmake">{{car.make}}
                                <span>{{car.variant}}</span>
                            </h2>
                        </div>
                        <div class = "home_price">{{car.selling_price | currency:"R":0}}</div>
                    </div>
                    <div class = "row">
                        <a class = "btn btn-carhome"
                           href = ""
                           ng-click = "focus(car); focusInput=true">ENQUIRE
                        </a>
                    </div>
                </div>
            </div>
        </div>-->
        <div class = "row"
             style = "margin-bottom: 50px"></div>
    </div>
    <update-title title = "We Buy Bakkies | New and Used Cars for Sale"></update-title>
    <update-meta property = "og:title"
                 content = "We Buy Bakkies | New and Used Cars for Sale"></update-meta>
    <update-meta property = "og:description"
                 content = "We Buy Bakkies offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>
    <update-meta itemprop = "description"
                 content = "We Buy Bakkies offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>
</div>
<update-title title = "We Buy Bakkies | New and Used Cars for Sale"></update-title>
<update-meta property = "og:title"
             content = "We Buy Bakkies | New and Used Cars for Sale"></update-meta>
<update-meta property = "og:description"
             content = "We Buy Bakkies offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>
<update-meta itemprop = "description"
             content = "We Buy Bakkies offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>